# necessary because of buggy distutils
include doc/LICENSE
include doc/clients-example.conf
include doc/config.sql
include doc/dhcpy6d-example.conf
include doc/dhcpy6d-minimal.conf
include doc/volatile.sql
include var/lib/volatile.sqlite
include var/log/dhcpy6d.log
